# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras
4. Tensorflow
5. Matplotlib
6. Seaborn

#### Table:

|Data Science Tools|
--------------------
|Jupyter Notebook|
|R studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
(3*4)+5                   # This a simple arithmetic expression to mutiply then add integers

17

In [17]:
200//60  #This will convert 200 minutes to hours by diving by 60

3

**Objectives:**

- List of Languages used for data science
- Libraries used for data science
- Performed some Arithmetic expressions in Python
- Representation of how to create Table,lists and headings

## Author
Priyanka U Lamani